* {
    box-sizing: border-box;
    margin: 0px;
}

body{
	background-color: white;
	font-family: verdana;
}

.column{
	float: left;
	padding: 10px;
	height: 100vh;
	text-align: center;
}

.left{
	width: 70%;
}

.right{
	width: 30%;
	border-left: 3px solid black;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.holder{
	background: url(media/space.jpeg) no-repeat center center;
}

.layerInput{
	display: flex;
}

li {
	font-size: 30px;
}

h1 {
	font-size: 100px;
}